// Navigation code here

body {
    .h1-nav{
        width: 100%;
         .center;
         flex-direction: column;
         flex-wrap: nowrap;
         @media @phone {
             background: whitesmoke;         }
        h1 {
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 4rem;
            .center;
        }

        nav {
            .jsa;
            width: 60%;
            display: flex;
            padding-bottom: 1rem;

            a{
                color: black;
                font-size: 1.5rem;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
}
